<h2>
    Welcome, <%= @user.name %>!
</h2>

<h3>
    <%= @user.username %>
</h3>

<h3>
<<<<<<< HEAD
    <%= link_to @records.first.title, @records.first %>
=======
    <%= @records.first %>
>>>>>>> fixed webpacker
</h3>