<div><h3>Thank You for visiting <u>Vinyl·Fi</u>! We are so glad you stopped in to have a look around!</h3></div><br>

<h5>This app was scaled in thought of reaching through the niche market of Record Collecting in local communities and/or college campuses.
    The app iself will act a small online market place where users can buy and sell vinyl records, leave reviews, and keep track of the albums you have bought through our store, with the option to relist the item.</h5><br><br><br>

<h4><u>We hope that you enjoy using our small and friendly application!</u></h4><br><br>

<p><strong><u>The Vinly·Fi Team</u></strong></p>

<h6>Developer: <strong>Juan Carlos Meza</strong></h6>
<h6>Developer: <strong>Jeremy Rodriguez</strong></h6>
<h6>Developer: <strong>Hunter Posey</strong></h6><br>